<!DOCTYPE html>
<html>
  <head>
    <title>AllInOne</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
  </head>

  <body>
  <% if user_signed_in? %>
  <% unless current_page?(root_path)%>
  <%= render 'layouts/nav' %>
  <%end%>
  <% end %>
    <main class="container mx-auto mt-14 px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>
